<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'
      rel='stylesheet'
    />
    <title>Group | {{ name }}</title>
    <style>
        body {
            font-family: Lato, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }

        .chat-header {
            width: 100vw;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            background-color: #e9ecff;
            padding: 10px;
            box-sizing: border-box;
            z-index: 1000;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .back-button, .settings-button {
            background: none;
            border: none;
            padding: 0;
            margin: 10px;
            cursor: pointer;
        }

        .header-title {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .profile-image-container {
            width: 60px;
            height: 60px;
            background-color: #ccc;
            border-radius: 50%;
            margin-right: 15px;
            background-size: cover;
            background-position: center;
        }

        .group-info-picture {
            display: block;
            width: 110px;
            height: 110px;
            background-color: #ccc;
            border-radius: 50%;
            text-align: center;
            background-size: cover;
            background-position: center;
            margin: 15px auto;
            margin-bottom: 50px;
        }

        .header-title p {
            margin: 0;
            font-size: 1.2em;
        }

        .message {
            max-width: 100%;
            padding: 10px;
            padding-bottom: 0px;
            margin-top: 15px;
            margin-bottom: 15px;
            border-radius: 30px;
            position: relative;
            word-wrap: break-word;
        }

        .friends-message {
            background-color: #d9e4ff;
            align-self: flex-start;
            padding-left: 20px;
            padding-right: 20px;
            margin-left: 15px;
            padding-top: 0px;
            border-bottom-left-radius: 0px;
            word-break: break-word;
        }

        .my-message {
            background-color: #e1e1e1;
            align-self: flex-end;
            margin-right: 15px;
            padding-left: 20px;
            padding-top: 15px;
            padding-right: 20px;
            border-bottom-right-radius: 0px;
        }

        .message-author {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .message-text {
            margin: 0;
        }

        .message-timestamp {
            font-size: 0.8em;
            color: #999;
            margin-top: 10px;
        }

        .chat-messages {
            flex-grow: 1;
            padding: 10px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }

        .chat-container {
            max-width: 650px;
            margin: 0 auto;
            background-color: #ffffff;
            height: calc(100vh - 7vh - 80px);
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding-bottom: 0;
            margin-top: 80px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        .chat-input {
            max-width: 660px;
            margin: 0 auto;
            display: flex;
            padding: 10px;
            border-top: 0px solid #ccc;
            box-sizing: border-box;
        }

        .chat-input input[type="text"] {
            flex-grow: 1;
            height: 2.5vh;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 30px;
            outline: none;
            background-color: #EBEAEA;
        }

        .send-button {
            background-color: #322A42;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: none;
            padding: 0;
            margin-left: 10px;
        }

        .send-button img {
            width: 20px;
            height: 20px;
        }

        @media (max-width: 600px) {
            .chat-header, .chat-input {
                padding: 5px;
            }

            .chat-input input[type="text"] {
                padding: 8px;
                font-size: 14px;
            }

            .send-button {
                width: 35px;
                height: 35px;
            }

            .send-button img {
                width: 20px;
                height: 20px;
            }
        }

        .popup-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2000;
      }

      .popup-content {
        position: relative;
        width: 350px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        text-align: center;
      }

      .close-popup {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 1.5em;
        color: #333;
        cursor: pointer;
        padding: 0;
      }

      .close-popup:hover {
        color: #000;
      }

      .popup-content p {
        text-align: center;
        color: #4A3F69;
        margin-bottom: 10px;
        width: 100%;
      }

      #messagesNumber {
        text-align: center;
        color: #7c5adb;
        margin-bottom: 10px;
        margin-top: 0px;
        width: 100%;
      }

      #participants {
        text-align: center;
        color: #7c5adb;
        margin-bottom: 10px;
        margin-top: 0px;
        width: 100%;
        word-wrap: break-word;
      }

      #creator {
        text-align: center;
        color: #7c5adb;
        margin-bottom: 10px;
        margin-top: 0px;
        width: 100%;
        word-wrap: break-word;
      }

      .custom-close {
        background: none;
        border: none;
        font-size: 1.5em;
        color: #333;
        cursor: pointer;
        padding: 0;
      }

      .custom-close:hover {
        color: #000;
      }

      .popup-content input {
        width: 70%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }

      .styled-button {
        background-color: #322A42;
        width: 30%;
        font-size: 18px;
        color: white;
        padding: 15px;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
        margin-top: 10px;
        margin-bottom: 30px;
        border-radius: 30px;
        cursor: pointer;
        border: none;
      }

      .edit-mode {
        background-color: #322A42;
        width: 30%;
        font-size: 18px;
        color: white;
        padding: 15px;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
        margin-top: 10px;
        margin-bottom: 30px;
        border-radius: 30px;
        cursor: pointer;
        border: none;
      }

      .save-mode {
        background-color: #7c5adb;
        width: 30%;
        font-size: 18px;
        color: white;
        padding: 15px;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
        margin-top: 10px;
        margin-bottom: 30px;
        border-radius: 30px;
        cursor: pointer;
        border: none;
      }

      p.system-message {
        text-align: center;
        font-size: 15px;
        color: #808080;
        font-style: italic;
        margin: 10px 0;
      }
    </style>
</head>
<body>
    <div class="chat-header">
        <a href="/" class="back-button">
            <img src="../../images/VectorarrowBack.png" alt="Back">
        </a>
        <div class="header-title">
            <div class="profile-image-container" style="background-image: url({{ picture }}); background-size: cover; background-position: center;"></div>
            <p id="group-name-title" style="color: #4a3f69; font-size: 1.5em;">{{ name }}</p>
        </div>
        <button class="settings-button" id="groupSettingsButton">
            <img src="../../images/VectorSettings.png" alt="Settings" style="width: 30px; height: 30px;">
        </button>
    </div>

    <div class="chat-container">
        <div class="chat-messages">
            
        </div>
    </div>

    <div class="chat-input">
        <input id="message-input" type="text" placeholder="Type a message">
        <button id="send-button" class="send-button">
            <img src="../../images/VectorSend.png" alt="Send">
        </button>
    </div>
    <div id="popupContainer" class="popup-container" style="display: none;">
      <div class="popup-content">
        <button class="close-popup custom-close">&times;</button>
        <h1 style="font-size: 1.2em; color: #4a3f69; flex: 1; margin-bottom: 50px;">Group info</h1>
        <p>Group name</p>
        <input type="text" placeholder="Group name" id="groupName" disabled>
        <p>Participants</p>
        <p id="participants"></p>
        <input type="text" id="participantsInput" style="display: none;">
        <p>Group creator</p>
        <p id="creator"></p>
        <p>Total messages</p>
        <p id="messagesNumber"></p>
        <p>Group photo</p>
        <input type="file" id="fileInput" style="display: none;">
        <div class="group-info-picture" style="background-size: cover; background-position: center; pointer-events: none;"></div>
        <button class="edit-mode" id="editButton" style="display: none;">Edit</button>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
    <script src="../../socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
    <script src="../../commonJS/group.js"></script>
</body>
</html>